<section class="block container">
    <div class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.</p>
    </div>
        <div class="grid grid--1x2 features">
            <div class="features__header">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="features__heading">Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                    Labore excepturi officia dolores!</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <img class="features__image" src="Images/easy.webp" alt="Super Easy to Use">
        </div>
        
        <div class="grid grid--1x2 features">
            <div class="features__header">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#computer"></use>
                    </svg>
                </span>
                <h3 class="features__heading">Simply Fast Websites</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                    Labore excepturi officia dolores!</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <img class="features__image" src="Images/fast.webp" alt="Super Easy to Use">
        </div>
        <div class="grid grid--1x2 features">
            <div class="features__header">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="features__heading">Wordpress Made Easy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                    Labore excepturi officia dolores!</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <img class="features__image" src="Images/wordpress.webp" alt="Super Easy to Use">
        </div>
        <div class="grid grid--1x2 features">
            <div class="features__header">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#clock"></use>
                    </svg>
                </span>
                <h3 class="features__heading">24/7 Expert Support</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                    Labore excepturi officia dolores!</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <img class="features__image" src="Images/support.webp" alt="Super Easy to Use">
        </div>
</section>