<section class="block-plans ">
    <div class="grid grid--1x3">
        <div class="card plan--secondary">
            <div class="plan">
                <header class="plan__header">
                        <div class="plan__name">Entry</div>
                        <span class="plan__price">$14</span>
                        <span class="plan__cycle">/month</span>
                        <span class="badge badge--secondary badge--small">10% Off</span>
                        <div class="plan__description">Easy start on the cloud</div>
                </header>
                <div class="plan__body">
                    <ul class="list list--tick">
                        <li class="list__item">Unlimited Websites</li>
                        <li class="list__item">Unlimited Bandwidth</li>
                        <li class="list__item">100 GB SSD Storage</li>
                        <li class="list__item">3 GB RAM</li>
                    </ul>
                    <button class="btn btn--outline btn--block ">get started</button>
                </div>
            </div>
        </div>
        <div class="card plan--primary plan--popular">
            <div class="plan">
                <header class="plan__header">
                        <div class="plan__name">Entry</div>
                        <span class="plan__price">$14</span>
                        <span class="plan__cycle">/month</span>
                        <span class="badge badge--primary badge--small">10% Off</span>
                        <div class="plan__description">Easy start on the cloud</div>
                </header>
                <div class="plan__body">
                    <ul class="list list--tick">
                        <li class="list__item">Unlimited Websites</li>
                        <li class="list__item">Unlimited Bandwidth</li>
                        <li class="list__item">100 GB SSD Storage</li>
                        <li class="list__item">3 GB RAM</li>
                    </ul>
                    <button class="btn btn--outline btn--block ">get started</button>
                </div>
            </div>
        </div>
        <div class="card plan--secondary">
            <div class="plan">
                <header class="plan__header">
                        <div class="plan__name">Entry</div>
                        <span class="plan__price">$14</span>
                        <span class="plan__cycle">/month</span>
                        <span class="badge badge--secondary badge--small">10% Off</span>
                        <div class="plan__description">Easy start on the cloud</div>
                </header>
                <div class="plan__body">
                    <ul class="list list--tick">
                        <li class="list__item">Unlimited Websites</li>
                        <li class="list__item">Unlimited Bandwidth</li>
                        <li class="list__item">100 GB SSD Storage</li>
                        <li class="list__item">3 GB RAM</li>
                    </ul>
                    <button class="btn btn--outline btn--block ">get started</button>
                </div>
            </div>
        </div>
    </div>
</section>