<div class="media">
    <span class="media__image">
        <span class="icon-container">
            <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
        </span>            
    </span>
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p class="media__body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, quos excepturi? Corporis sunt in ipsam explicabo, veniam quidem optio eos expedita molestiae neque voluptatibus. Doloremque aliquam libero tempore ab porro.</p>
</div>