<section class="block block-dark block-skewed--left showcase">
    <header class="showcase__header block__header">
        <h2 class="block__heading">User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <img class="showcase__img" src="Images/ipad.webp" alt="">
        <div class="showcase__content">
            <div class="media">
                <span class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                </span>
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p class="media__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab.</p>
            </div>
            <div class="media">
                <span class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#growth"></use>
                        </svg>
                </span>
                <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                <p class="media__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab.</p>
            </div>
            <div class="media">
                <span class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                </span>
                <h3 class="media__title">Dynamic Caching & More</h3>
                <p class="media__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab.</p>
            </div>
        </div>
    </div>
</section>